If you are using Kali Linux:
--> python3 -m pip install pyfiglet colorama
--> sudo apt install subfinder
--> sudo apt install whatweb

If you are using Kali Linux download this font to avoid errors:
--> cd /usr/share/figlet/
--> sudo wget https://raw.githubusercontent.com/xero/figlet-fonts/master/ANSI%20Shadow.flf
--> sudo mv "ANSI Shadow.flf" ansi_shadow.flf